.AccidentsContent .header {
    display: grid;
    grid-template-columns: 24fr 2fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.AccidentsContent .header Input {
    background-color: #fff;
}
