.settings_content {
    width: 100%;
}

.settings_content form {
    width: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2.4rem;
}

.settings_content form input {
    background-color: #fff;
}
