/** Colors :

Primary : #42a867
Tints : #f5fbf7
Shades : #b3dec6, #399a5d, #2e8d51
Text : #111
Grey : #ccc

**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 1.6rem;
    color: #111111;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Reusable Styling */

.divider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Components Styling */

.button_component {
    background-color: #42a867;
    color: #fff;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem 2.4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s;
}

.button_component:hover {
    background-color: #399a5d;
}

.input_component {
    width: 100%;
    position: relative;
}

.input_component input {
    background-color: #f5fbf7;
    color: #111111;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
}

.input_component input::placeholder {
    color: #ccc;
}

.input_component input:-ms-input-placeholder {
    color: #ccc;
}

.input_component input::-ms-input-placeholder {
    color: #ccc;
}

.input_component svg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    right: 2rem;
    top: 1.6rem;
    color: #ccc;
}

.main_tab {
    display: grid;
    grid-template-columns: 1.4fr 8fr;
}

.main_tab .left {
    background-color: #42a867;
    background-image: url("./assets/svg/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.main_tab .right {
    display: grid;
    grid-template-rows: 2fr 24fr;
    justify-content: initial;
}

.main_tab .right .content {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.main_tab .right .content {
    background-color: #f5fbf7;
    padding: 2.4rem;
}

.main_tab .right .tab {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 2.4rem;
    position: relatve;
}

.main_tab .right .tab .profil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
}

.main_tab .right .tab .profil span,
.main_tab .right .tab .profil svg {
    cursor: pointer;
}

.main_tab .right .tab .list {
    position: absolute;
    z-index: 99;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 1.2rem 3.6rem;
    font-size: 1.6rem;
    right: 12px;
    top: 58.77px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    transition: 0.3s;
}

.main_tab .right .tab .list li {
    cursor: pointer;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 4.8rem 1.2rem;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.sidebar ul li {
    background-color: #399a5d;
    color: #fff;
    padding: 1.2rem 2.4rem;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2rem;
}

.sidebar ul li:hover {
    background-color: #2e8d51;
}

.sidebar .footer {
    font-size: 1.2rem;
    color: #f5fbf7;
    line-height: 1.2;
}
.sidebar .footer span {
    font-weight: 600;
}

.logo {
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.snipper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
